POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db_name
POSTGRES_HOST=db
POSTGRES_PORT=5432

LIGHTTASK_CONFIG__DB__URL=postgresql+asyncpg://user:pswrd@localhost/dbname
LIGHTTASK_CONFIG__DB__ECHO=0

LIGHTTASK_CONFIG__S3__ACCESS_KEY=access_key
LIGHTTASK_CONFIG__S3__SECRET_KEY=secret_key
LIGHTTASK_CONFIG__S3__BUCKET_NAME=bucket_name

LIGHTTASK_CONFIG__RUN__HOST=0.0.0.0
LIGHTTASK_CONFIG__RUN__PORT=8000