do-coop.ru, www.do-coop.ru, www.kantano.ru {
    redir https://kantano.ru{uri} permanent
}

kantano.ru {
    encode zstd gzip

    header {
               Strict-Transport-Security "max-age=31536000;"
               X-Content-Type-Options "nosniff"
               X-Frame-Options "SAMEORIGIN"
               Referrer-Policy "strict-origin-when-cross-origin"
               -Server
           }

    @swagger path /docs* /openapi.json* /redoc*
    basic_auth @swagger {
                            Ilm1n $2a$14$nYZxShSveyLPJ1ycn/xQreyZA4H.7f4dKJKRb0jLDQNBwywPCVoBa
                        }

    @backend path /api/* /ws/* /docs* /openapi.json* /redoc*
    handle @backend {
                        reverse_proxy backend:8000
                    }

    handle {
               root * /usr/share/caddy/html

               @immutable {
                              path /assets/*
                          }
               header @immutable Cache-Control "public, max-age=31536000, immutable"

               @revalidate {
                               not path /assets/*
                           }
               header @revalidate Cache-Control "no-cache, no-store, must-revalidate"

               try_files {path} /index.html
               file_server
           }
}