LIGHTTASK_CONFIG__DB__URL=postgresql+asyncpg://user:pswrd@localhost/dbname
LIGHTTASK_CONFIG__DB__ECHO=1
LIGHTTASK_CONFIG__S3__ACCESS_KEY=access_key
LIGHTTASK_CONFIG__S3__SECRET_KEY=secret_key
LIGHTTASK_CONFIG__S3__BUCKET_NAME=имя_бакета